doctype html 
html(lang='es')
    head 
        meta(charset = 'UTF-8')
        meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge')
        meta(name = 'viewport', content = 'width=device-width initial-scale=1.0')
        title #{pagina}
        link(rel='stylesheet', href='/css/bootstrap.css')
    body 
        h1 Aqui va el inicio de sesion 
        a(href="/iniSimulacion") iniciar sesion
        a(href="/signup") crear cuenta 